// This file overrides Bootstrap's variables.

$brand-inverse: #556270;
$brand-info: #4ECDC4;
$brand-success: #C7F464;
$brand-warning: #FF6B6B;
$brand-danger: #C44D58;

$font-family-sans-serif: 'Muli', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif: 'Nexa Slab', Georgia, "Times New Roman", Times, serif !default;
