---

---

// Variable Declarations

$sidebar-color: #11427D;

// Fonts!

@font-face{
	font-family:Nexa Slab;
	src:url({{site.baseurl}}/fonts/nexaslab/nexa_slab_regular.otf);
}

.nexa-slab{
	font-family:Nexa Slab;
}

// Utility

.drop-type{
  text-transform: uppercase;
}

.spacing-unit-bottom{
	margin-bottom: 1em;
}

// Basic Element Changes

.navbar{
  margin-bottom: 2em;
}

.navbar-brand{
  font-family: Nexa Slab;
  font-size: 2em;
  padding-right: 1em;
}

.nav-item{
  padding-top: 0.5em;
  font-family: Nexa Slab;
}

.footer-title{
  font-family: Nexa Slab;
}

// Showcase Classes

.page-id{
  font-size: 4em;
  padding-bottom: 0.5em;
}
.section{
  padding-top: 1em;
  padding-bottom: 1em;
}

.font-showcase{
  font-size: 10em;
}

.color-showcase{
  height: 10em;
  width: 10em;
  border-radius: 50%;
}

.section-header {
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

// Sidebar CSS
.main-menu ul {
  list-style-type: none;
	padding: 0;
}
#sidebar-menu{
  position:fixed;
  .main-menu{
    a {
      display: block;
    	color: #999;
    	padding: 4px 20px;
    }
    a:hover {
    	color: $sidebar-color;
    	text-decoration: none;
    	background-color: transparent;
    	border-left: 1px solid $sidebar-color;
    }
  }
  .sub-menu a {
  	padding-top: 1px;
  	padding-bottom: 1px;
  	padding-left: 30px;
  }
}
