---

---

// Variable Declarations

$brand-primary: #0275d8;
$brand-inverse: #556270;
$brand-info: #4ECDC4;
$brand-success: #C7F464;
$brand-warning: #FF6B6B;
$brand-danger: #C44D58;

// Fonts!

@font-face {
  font-family: 'Muli';
  src: local('Muli Regular'), local('Muli-Regular'), url({{site.baseurl}}/css/fonts/muli/Muli-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-style: italic;
  src: local('Muli Italic'), local('Muli-Italic'),  url({{site.baseurl}}/css/fonts/muli/Muli-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-weight: bold;
  src: local('Muli Bold'), local('Muli-Bold'), url({{site.baseurl}}/css/fonts/muli/Muli-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Muli';
	font-style: italic;
  font-weight: bold;
  src: local('Muli Bold'), local('Muli-BoldItalic'), url({{site.baseurl}}/css/fonts/muli/Muli-Bold.ttf) format('truetype');
}

@font-face{
	font-family: 'Nexa Slab';
	src:url({{site.baseurl}}/css/fonts/nexaslab/nexa_slab_regular.otf);
}

.muli{
	font-family: 'Muli', sans-serif;
}

.nexa-slab{
	font-family: 'Nexa Slab', serif;
}

body{
	font-family: 'Muli', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Nexa Slab', serif;
}

b{
  font-weight: bold;
}

// Utility

.drop-type{
  text-transform: uppercase;
}

.spacing-unit-bottom{
	margin-bottom: 1em;
}

.spacing-unit-bottom-2x{
	margin-bottom: 2em;
}

// Basic Element Changes

.navbar{
  margin-bottom: 2em;
}

.navbar-brand{
  font-family: 'Nexa Slab', serif;
  font-size: 2em;
  padding-right: 1em;
}

.nav-item{
  padding-top: 0.5em;
}

.footer-title{
  font-family: 'Nexa Slab', serif;
  color: $brand-warning;
}

.main-header{
	font-size: 5em;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
}

.img-logo {
	margin-bottom: 1em;
}

// Showcase Classes

.page-id{
  font-size: 4em;
  padding-bottom: 0.5em;
}
.section{
  padding-top: 1em;
  padding-bottom: 1em;
}

.font-showcase{
  font-size: 10em;
}

.text-showcase{
	font-size:2.5em;
}

.color-showcase{
  height: 10em;
  width: 10em;
  border-radius: 50%;
}

.section-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}

// Sidebar CSS
.main-menu ul {
  list-style-type: none;
	padding: 0;
}
#sidebar-menu{
  position:fixed;
  .main-menu{
    a {
      display: block;
    	color: #999;
    	padding: 4px 20px;
    }
    a:hover {
    	color: $brand-warning;
    	text-decoration: none;
    	background-color: transparent;
    	border-left: 1px solid $brand-warning;
    }
  }
  .sub-menu a {
  	padding-top: 1px;
  	padding-bottom: 1px;
  	padding-left: 30px;
  }
}
.sidebar-divider{
  border-top: 1px solid $brand-warning;
}
