---

---
// Primary Colours
$vulcan-gray: #383938;
$horizon-blue: #5C7BA3;

// Accent Colours
$casablanca-yellow: #F0AD4E;
$fern-green: #73C173;
$oslo-gray:  #818A91;
$seagull-blue: #7AD0ED;
$valencia-red: #D9534F;
$wattle-yellow: #D7DD45;

// Background Colours
$shark-gray: #2A262A;
$smoke-white : #F5F5F5;


// Font Imports

@font-face{
	font-family: 'Nexa';
	src:url({{site.baseurl}}/fonts/nexa/nexa_light.otf);
}
@font-face{
	font-family: 'Nexa';
	font-weight:bold;
	src:url({{site.baseurl}}/fonts/nexa/nexa_bold.otf);
}
/*
// this one is imported in style.scss, delete this comment if you want to use this file elsewhere
@font-face{
	font-family: 'Nexa Slab', serif;
	src:url({{site.baseurl}}/fonts/nexaslab/nexa_slab_regular.otf);
}
*/
@font-face{
	font-family: 'Nexa Slab', serif;
	font-weight: bold;
	src:url({{site.baseurl}}/fonts/nexaslab/nexa_slab_bold.otf);
}

// Font Classes

.nexa-light{
	font-family: 'Nexa';
}

.nexa-bold{
  font-family: 'Nexa';
  font-weight: bold;
}

/*
// this one is defined in style.scss, delete this comment if you want to use this file elsewhere
.nexa-slab{
	font-family: 'Nexa Slab', serif;
}
*/

.nexa-slab-bold{
	font-family: 'Nexa Slab', serif;
	font-weight: bold;
}

// Colour Palettes

.color-vulcan{
	color: $vulcan-gray;
}

.bg-vulcan{
	background-color: $vulcan-gray;
}

.color-horizon{
	color: $horizon-blue;
}

.bg-horizon{
	background-color: $horizon-blue;
}

.color-casablanca{
	color: $casablanca-yellow;
}

.bg-casablanca{
	background-color: $casablanca-yellow;
}

.color-fern{
	color: $fern-green;
}

.bg-fern{
	background-color: $fern-green;
}

.color-oslo{
	color: $oslo-gray;
}

.bg-oslo{
	background-color: $oslo-gray;
}

.color-seagull{
	color: $seagull-blue;
}

.bg-seagull{
	background-color: $seagull-blue;
}

.color-valencia{
	color: $valencia-red;
}

.bg-valencia{
	background-color: $valencia-red;
}

.color-wattle{
	color: $wattle-yellow;
}

.bg-wattle{
	background-color: $wattle-yellow;
}

.color-shark{
	color: $shark-gray;
}

.bg-shark{
	background-color: $shark-gray;
}

.color-smoke{
	color: $smoke-white;
}

.bg-smoke{
	background-color: $smoke-white;
}
