---
layout: wac
title: Colour Palette
short: colours
permalink: /wac/colours/
---
<div class="section">
  <h2 class="section-header" id="overview">Overview</h2>
  <p class="lead">
    A strong brand colour palette is one of the most important parts of any design scheme. At the World Affairs Conference, we have a colour scheme that we use in our graphic designs, videos, websites, and anything else WAC-related! These colours are the basis of our design style.
  </p>
  <p class="lead">
    There are three categories of colours: Primary Colours, Accent Colours, and Background Colours. Primary Colours make up the most prominent parts of our design style: basically, the logo, and accompanying text. Accent colours are often used to convey context, such as red for warning. Background Colours are our recommended background colours that complement our primary and accent colours.
  </p>
</div>

{% for category in site.data.wac.colors %}
  <div class="section">
    <h2 class="section-header" id="{{category[0]}}-colours">{{ category[0] | capitalize }} Colours</h2>
    {% for color in category[1] %}
      <div class="row">
        <div class="col-md-4">
          <div class="color-showcase bg-{{color[1].class}}"></div>
        </div>
        <div class="col-md-4">
          <span class="font-showcase {{site.data.wac.fonts.default.class}} color-{{color[1].class}}">Aa</span>
        </div>
        <div class="col-md-4">
          <h3>{{color[1].name}}</h3>
          <ul class="list-unstyled">
            {% if color[1].hex %}
              <li>
                Hex: <span class="badge bg-{{color[1].class}}">{{color[1].hex}}</span>
              </li>
            {% endif %}
            {% if color[1].rgb %}
              <li>
                RGB: <span class="badge bg-{{color[1].class}}">{{color[1].rgb}}</span>
              </li>
            {% endif %}
            {% if color[1].cmyk %}
              <li>
                CMYK: <span class="badge bg-{{color[1].class}}">{{color[1].cmyk}}</span>
              </li>
            {% endif %}
            {% if color[1].use %}
              <li>
                Used for: <b>{{color[1].use}}</b>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}
<div class="section">
  <h2 class="section-header" id="css-example">CSS Example</h2>
  <p>
    Here are examples of using the WAC Colour Palette in CSS and SASS.
  </p>
  <h3>SASS Example</h3>
  <pre>
    <code class="language-scss">

      // Primary Colours
      $vulcan-gray: #383938;
      $horizon-blue: #5C7BA3;

      // Accent Colours
      $casablanca-yellow: #F0AD4E;
      $fern-green: #73C173;
      $oslo-gray:  #818A91;
      $seagull-blue: #7AD0ED;
      $valencia-red: #D9534F;

      // Background Colours
      $shark-gray: #2A262A;
      $smoke-white : #F5F5F5;
    </code>
  </pre>
</div>
