<nav class="navbar navbar-toggleable-md navbar-inverse bg-warning">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{site.baseurl}}/index.html">Paleta</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link{% if page.layout == "wac"%} active{% endif %}" href="{{site.baseurl}}/wac/overview/">WAC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.layout == "9651r"%} active{% endif %}" href="{{site.baseurl}}/9651r/overview/">9651</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.layout == "omun"%} active{% endif %}" href="{{site.baseurl}}/omun/overview/">OMUN</a>
        </li>
      </ul>
      {% if page.layout != "default" %}
      <ul class="nav navbar-nav float-lg-right">
        <li class="nav-item">
          <a class="nav-link active" href="{{site.baseurl}}/resources/{{page.layout}}/drop.zip">Download <span class="drop-type">{{page.layout}}</span> Drop</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>
